form#binary-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.input-lg {
	max-width: 100%;
}

.glyphicon {
    top: 0px;
    margin: auto;
    color: #3a87ad;
}

#addition {
	color: #000;
}