form#binary-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.input-lg {
	max-width: 100%;
}

.glyphicon {
    top: 0px;
    margin: auto;
}

.on {
	background-color: green;
	color: #FFF;
}

.off {
	background-color: red;
	color: #000;
}

button.btn-success > span.glyphicon {
	color: #FFF;
}

button.btn-danger > span.glyphicon {
	color: #000;
}

.btn-default.focus, .btn-default:focus {
	background-color: #FFF;
}