<div class="well">
	<form name="binaryForm">
		
		<div class="row form-inline">
			
			<div class="form-group col-md-offset-3 col-md-3">
				<div class="row">
					<div class="col-md-4">
						<!-- dummy -->
					</div>
					<div class="form-group col-md-2">
						<div class="btn-group-vertical">
							<div class="row">
								<div class="col-md-offset-4 col-md-4">
									<label>+/-</label>
									<button type="button" class="btn btn-default btn-xs glyphicon glyphicon-plus"></button>
							  		<button type="button" class="btn btn-default btn-xs glyphicon glyphicon-minus"></button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<label for="baseTen">Base Ten</label>
						<input
							type="text" 
							class="form-control input-lg" 
							name="baseTen"
							id="baseTen"
							ng-model="model.baseTen"
							ng-model-options="{ updateOn: 'blur' }"
							ng-pattern="baseTenCheck" 
							ng-change="baseTenChange()"
							required
						/>
						<div ng-show="binaryForm.baseTen.$touched && binaryForm.baseTen.$error.required">required</div>
						<div ng-show="binaryForm.baseTen.$touched && binaryForm.baseTen.$error.pattern">Integer value between 0 and 255</div>
					</div>
				
				</div>	
			</div>			
				
			<div class="form-group col-md-3">
				<div class="row">
					<div class="col-md-6">
						<label for="baseTwo" class="text-center">Base Two</label>
						<input 
							type="text" 
							class="form-control input-lg" 
							name="baseTwo"
							id="baseTwo"
							ng-model="model.baseTwo"
							ng-model-options="{ updateOn: 'blur' }"
							ng-pattern="baseTwoCheck"
							ng-change="baseTwoChange()"
							required
						/>
						<div ng-show="binaryForm.baseTwo.$touched && binaryForm.baseTwo.$error.required">Required</div>
						<div ng-show="binaryForm.baseTwo.$touched && binaryForm.baseTwo.$error.pattern">One or more zeros or ones</div>
					</div>
				</div>
			</div>		
		
		</div>
	</form>
</div>