<div>
	
	<div id="nor">
		<button type="button" class="btn btn-lg" ng-class="{'btn-danger': !nor, 'btn-success': nor}" disabled="disabled">
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
		</button>
	</div>
	
	<div class="btn-group" role="group">
	  <button type="button" class="btn btn-default" ng-class="{'active': norLeft}" ng-model="norLeft" ng-click="norLeft = !norLeft; nor = checkNor(norLeft, norRight)">{{ norLeft ? '1' : '0' }}</button>
	  <button type="button" class="btn btn-default" ng-class="{'active': norRight}" ng-model="norRight" ng-click="norRight = !norRight; nor = checkNor(norLeft, norRight)">{{ norRight ? '1' : '0' }}</button>
	</div>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>NOR</th>
				<td ng-class="{ 'bg-danger': norLeft && !norRight, 'bg-success': !norLeft && !norRight }"><strong>0</strong></td>
				<td ng-class="{ 'bg-danger': norRight }"><strong>1</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ng-class="{ 'bg-danger': !norLeft && norRight, 'bg-success': !norLeft && !norRight }"><strong>0</strong></td>
				<td ng-class="{ 'bg-success': !norLeft && !norRight }">1</td>
				<td ng-class="{ 'bg-danger': !norLeft && norRight }">0</td>
			</tr>
			<tr>
				<td ng-class="{ 'bg-danger': norLeft }"><strong>1</strong></td>
				<td ng-class="{ 'bg-danger': norLeft && !norRight }">0</td>
				<td ng-class="{ 'bg-danger': norLeft && norRight }">0</td>
			</tr>
		</tbody>
	</table>
</div>